:root {
  --textColor: rgb(65, 64, 66);
  --btnBgColor: #3287b7;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
} 

.primaryBtn {
  color: #fff;
  background-color: var(--btnBgColor);
  border-radius: 2em;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

a {
  transition: all 500ms;
}

a:hover {
  text-decoration: none;
}

.app_layout {
  background-color: #f2f0e4;
  height: 100vh;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}